.app {

    .header {
        width: 100%;
        background-color: $color-primary;
        z-index: 2;

        &__wrap {
            display: flex;
            width: 1200px;
            margin: auto;

        }

        &__logo {
            padding: 18px 107px 18px 0;
            align-items: center;

            .logo__img {
                height: 60px;
                width: 60px;

            }

            .logo__link {
                display: block;
            }
        }

        &__menu {
            font-size: 1.6rem;
            text-transform: uppercase;
            margin: auto;
        }

        &-list {
            align-items: center;
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;

        }

        &-item-link {
            font-weight: 500;
            text-decoration: none;
            color: $color-white;
            margin: 0 30px 5px 0;
        }

        &-item-link:hover {
            // text-decoration:underline solid $color-hover;
            border-bottom: 2px solid $color-hover;
            text-decoration: none;
            color: $color-white;
        }

        &__contact {
            margin: auto 0;
            position: relative;

            .header__contact-icon {
                color: $color-white;
                font-size: 4rem;
                position: absolute;
                top: -2px;
                left: -38px;
            }

            .contact-content {

                .contact-phone {
                    font-size: 2.5rem;
                    text-decoration: none;
                    font-weight: 500;
                    color: $color-white;
                    overflow: visible;
                }

                .contact-phone:hover {
                    transition: 0.2s linear;
                    color: $color-hover;
                }
            }

            .contact-content p {
                font-style: italic;
                font-size: 1.6rem;
                color: $color-white;
                margin: 0;
            }
        }
    }

    .contain {

        &__session-1 {
            position: relative;

            .session-1-img {
                width: 100%;
            }
        }

        &__s1-overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;

            .s1-overlay-body {
                text-align: center;
                padding-top: 25px;

                .overlay-body-title {
                    color: $color-white;
                }

                .overlay-body-wrap {
                    width: 100%;
                    padding-top: $height-logo-spin;
                    position: relative;
                    @include grow-center(0.6s);
                }

                .overlay-body-spin {
                    width: 270px;
                    height: 270px;
                    margin: 0 auto;
                    border-radius: 50%;
                    text-align: center;
                    border: 2px dashed $color-white;
                    animation: spin 10s infinite linear;

                }

                .body-logo-img {
                    width: 250px;
                    border-radius: 50%;
                    border: 10px solid $color-white;
                    margin: 10px;
                    position: absolute;
                    top: $height-logo-spin;
                    left: 38.8%;
                }

                .overlay-body-combolink {
                    padding-top: 30px;
                    font-size: 3.1rem;

                    .overlay-body-name a {
                        text-decoration: none;
                        color: $color-white;
                    }

                    .overlay-body-name a:hover {
                        color: $color-primary;
                    }

                    .overlay-body-btn {

                        font-weight: 600;
                        margin-top: 16px;
                        animation: glowing 1.5s infinite;
                    }

                    .overlay-body-btn:hover {
                        color: $color-hover;
                    }
                }
            }
        }

        &__session-2 {
            padding-bottom: 82px;
            @include grow-center(0.7s);

            .session2-title {
                margin: 50px auto 35px auto;
            }

            .session2-content {
                position: relative;
                width: calc(50% - 15px);
                transition: top linear 1s;
                bottom: 0;
                overflow: hidden;

                .session2-img {
                    width: 100%;
                }

                .session2-select {
                    display: flex;
                    position: absolute;
                    left: 75px;
                    opacity: 0;

                    .session2-btn {
                        margin-left: 10px;

                        a {
                            font-weight: 600;
                            color: $color-primary;
                            display: block;
                            margin: 4px 48px;
                            text-decoration: none;
                        }
                    }

                    .session2-btn:hover {
                        a {
                            color: $color-white;
                        }
                    }
                }
            }

            .session2-content:hover {
                .session2-img {
                    filter: brightness(35%);
                }

                .session2-select {
                    bottom: 50%;
                    transition: 0.2s linear;
                    opacity: 1;
                }

            }

            .session2-content:not(:hover) {
                .session2-select {
                    bottom: -50%;
                    transition: 0.3s linear;
                }

            }
        }

        &__session-3 {
            background-color: $background-basic;
            padding-top: 48px;

            .session-3-head {
                @include grow-center(0.7s);

                .session-3-title {}

                .session-3-head-link {
                    padding: 40px 0;
                }
            }

            .session-3-main {
                padding: 60px;
                background-color: $color-white;
                text-align: center;
                box-shadow: 0 3px 5px #999;
                @include grow-center(0.7s);

                .session-3-main-link {
                    text-decoration: none;
                    font-size: 2rem;
                    font-weight: 600;
                    color: $color-text;
                    user-select: none;

                    .session-3-main-img {
                        width: 248px;
                        height: 248px;
                    }
                }

                .session-3-main-link:hover {
                    color: $color-primary;
                }

                .session-3-main-content {
                    padding-top: 30px;
                    user-select: none;

                    p {
                        padding: 30px 0;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        word-spacing: 1px;

                    }

                }

                .session-3-main-btn {
                    padding: 4px 21px;
                }
            }

            .session-3-foot {
                @include grow-center(0.7s);

                .session-3-foot-booking {}
            }
        }

        &__session-4 {
            background-color: $background-basic;
            padding-top: 54px;

            .session-4-head {
                margin: 0 auto;
                @include grow-center(0.7s);

                .session-4-head-link {
                    padding: 40px 0;
                    text-align: center;
                }
            }

            .session-4-main {
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: relative;
                @include grow-center(0.7s);

                .session-4-control-right {
                    position: absolute;
                    top: 50%;
                    right: -46px;
                    font-size: 5rem;

                    a {
                        color: $color-text;
                        text-decoration: none;
                    }
                }

                .session-4-control-right:hover {
                    a {
                        color: $color-primary;
                        text-decoration: none;
                    }
                }

                .session-4-control-left {
                    position: absolute;
                    top: 50%;
                    left: -46px;
                    font-size: 5rem;

                    a {
                        color: $color-text;
                        text-decoration: none;
                        transition: 0.2s linear;
                    }
                }

                .session-4-control-left:hover {
                    a {
                        transition: 0.2s linear;
                        color: $color-primary;
                        text-decoration: none;
                    }
                }

                .session-4-col7-wrap {
                    background-color: $color-primary;

                    .session-4--link {
                        display: block;
                        color: $color-white;
                        font-size: 3rem;
                        font-weight: 800;
                        user-select: none;

                        .session-4-col7-img {
                            width: 100%;

                        }

                        .session-4-col7-img figure {
                            position: relative;
                        }

                        .session-4-col7-img figure::before {
                            position: absolute;
                            top: 0;
                            right: -75%;
                            z-index: 2;
                            display: block;
                            content: '';
                            width: 50%;
                            height: 100%;

                            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);

                            transform: skewX(45deg);
                        }

                        .session-4-col7-img figure:hover::before {
                            animation: shine .75s;
                        }
                    }

                    .session-4-col7-content {
                        padding: 30px;

                        .session-4-main-btn {
                            padding: 0 20px;
                        }

                        .session-4-main-btn:hover {
                            background-color: #333131;
                        }

                        p {
                            font-size: 1.5rem;
                            color: $color-white;
                            margin: 15px auto 30px auto;
                            user-select: none;
                        }
                    }

                    .session-4--link:hover {
                        text-decoration: none;
                        color: $color-hover;
                        transition: 0.2s linear;
                    }
                }

                .session-4-col5-img {
                    width: 100%;
                }
            }


            .session-4-foot {
                width: 100%;
                text-align: center;
                padding: 20px 0 8px 0;
                @include grow-center(0.7s);
            }
        }

        &__session-5 {
            background-color: $color-text;

            .session-5-content {
                width: 50%;
                padding: 48px 0 35px 0;
                margin: 0 auto;


                .session5-title {
                    color: $color-white;
                    width: 100%;
                    text-align: center;
                }

                .session-5-wrap {
                    padding-top: 56px;

                    .session-5-wrap-title {
                        color: $color-white;
                        font-size: 2rem;
                        font-weight: 500;
                        position: relative;
                    }

                    .session-5-wrap-title:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        border: 1px solid #938d82;
                        width: 76%;
                    }

                    .session-5-list {
                        list-style: none;
                        padding: 20px 0 0 0;

                        .session-5-item {
                            color: #938d82;
                            font-size: 1.5rem;
                            padding: 15px 0;
                            border-bottom: 1px dashed #938d82;

                            i {
                                color: $color-primary;
                                padding-right: 4px;
                            }
                        }

                        .session-5-item:last-child {
                            border: none;
                        }

                    }
                }
            }
        }

        &__session-6 {
            padding: 48px 0 80px 0;

            .session6-title {
                text-align: center;
                width: 100%;
            }

            .session6-main {
                width: 100%;
                display: flex;
                padding-top: 36px;

                .session6-wrap {
                    padding: 0;

                    .session6-resize-img {
                        width: 100%;
                        max-height: 222px;
                        overflow: hidden;

                        .session6-link-img {
                            display: block;

                            .session6-img {
                                width: 100%;
                                background-position: center;

                            }
                        }
                    }

                    .session6-content {
                        padding: 16px;
                        text-align: initial;

                        .session6-time {
                            padding-bottom: 8px;
                            display: flex;
                            align-items: center;

                            .session6-time-icon {
                                font-size: 1.4rem;
                                padding-right: 4px;
                                color: $color-primary;
                            }

                            .session6-date {
                                padding: 0;
                                margin: 0;
                                font-size: 1.4rem;
                            }
                        }

                        .session6-link {
                            color: $color-text;
                            text-decoration: none;
                            font-size: 2rem;
                            font-weight: 600;
                        }

                        .session6-link:hover {
                            color: $color-primary;
                        }

                        .session6-infor {
                            font-size: 1.6rem;
                            color: #938d82;
                            padding: 6px 0 6px 0;
                        }

                        .session-6-btn:hover {
                            background-color: $color-white;
                            color: $color-hover;
                        }
                    }
                }

                .session6-wrap:hover {
                    box-shadow: 0 3px 8px #999;
                }
            }
        }
    }

    .footer {
        position: relative;
        background-color: #0f0f0f;


        .scrollTop {
            position: absolute;
            right: 48%;
            top: -45px;
            opacity: 1;
            color: $color-primary;
            transition: all 0.4s ease-in-out 0s;

        }

        .scrollTop a {
            font-size: 6rem;
            color: $color-primary;
        }

        &-wrap {
            text-align: center;
            padding-top: 48px;
            .footer-logo{
                .footer-logo-link{
                    display: block;
                }
              .footer_logo-img{
                width: 61px;
                height: 61px;
              }
            }
            .footer-contact{
                display: flex;
                justify-content: center;
                padding: 30px 0 16px 76px;
                a{
                    text-decoration: none;
                    color: $color-white;
                    .footer-phone{
                        font-size: 2rem;
                        padding-right: 16px;
                    }
                    .footer-mail{
                        font-size: 1.6rem;
                        border-left: 1px solid $color-hover;
                        margin: 0;
                        padding-left: 16px;
                    }
                }
                a:hover{
                     text-decoration: none;
                    color: $color-primary;
                }
            }
            .footer-menu{
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
                
                .footer-item{
                    list-style: none;
                    padding-left: 20px;
                    .footer-item-link{
                        text-decoration: none;
                        color: $color-white;
                        font-size: 1.5rem;
                    }
                    .footer-item-link:hover{
                        text-decoration: none;
                        color: $color-primary;
                    }
                }
            }
            .footer-social{
                .social-link{
                    font-size: 4rem;
                    color: #707070;
                    padding-left: 16px;
                }
                .social-link:hover{
                    text-decoration: none;
                    color: #fff;
                }
            }
            .footer-infor{
                padding-top: 60px;
                p{
                    font-size: 1.5rem;
                    color: $color-white;
                }
            }
        }
    }
}