@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("/assets/font/OpenSans-Bold.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("/assets/font/OpenSans-Bold.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

$color-primary:#ac2223;
$color-hover:#ffc107;
$color-white:#ffffff;
$color-text:#262626;
$height-logo-spin:40px;
$background-basic:#f4f4f4;

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.5rem;
    box-sizing: border-box;
    color: $color-white;
}

@keyframes fadein {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 -2px 3px $color-white;
    }

    50% {
        box-shadow: 0 -2px 10px $color-white;
    }

    100% {
        box-shadow: 0 -2px 3px $color-white;
    }
}
@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes shine{
    100% {
        right: 125%;
    }
}

@mixin grow-center($time) {
	transform-origin: center;
    animation: grow linear ($time);
}


.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.grid__col-6{
    display: flex;
    width: 100%;
   justify-content: space-between;
}
.grid__col-4{
	width: calc(100% / 3);
	margin: 0 auto;
    text-align: center;
    padding: 0 15px;
}
.grid__col-7{
    width: 700px;
    padding: 0 15px;
}
.grid__col-5{
    width: 500px;
    padding: 0 15px;
}

.btn {
    min-width: 115px;
    min-height: 39px;
    text-decoration: none;
    border: none;
    background-color: $color-white;
    color: $color-primary;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: $color-primary;
    transition: 0.2s linear;
}
.btn.view{
	i{
 	padding-left: 8px;
    transition: 0.2s linear;
   font-weight: 300;
}
}
.btn.black{
	color: $color-white;
	background-color: $color-text;
	font-size: 1.4rem;
	font-weight: 800;
	word-spacing: 2px;
}
.btn.black:hover{
	background-color: $color-primary;
    transition: 0.2s linear;
}
.btn.booking{
	background-color: $color-primary;
	margin: 40px 0;
	width: 195px;
	height: 54px;
	color: $color-white;

}
.btn.booking:hover{
	background-color: #650203;
    transition: 0.2s linear;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 3.4rem;
    font-weight: 600;
    position: relative;
    
}
.title.title-underline:before{
	content: "";
	bottom: -15px;
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	width: 151px;
	border: 2px solid $color-primary;
}
.link-name{
	font-size: 2rem;
	font-weight: 400;
	color: $color-primary;
	text-decoration: none;
}
.link-name:hover{
text-decoration: none;
color: $color-primary;
}