@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/assets/font/OpenSans-Bold.tff") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/assets/font/OpenSans-Bold.tff") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.5rem;
  box-sizing: border-box;
  color: #ffffff; }

@keyframes fadein {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
@keyframes spin {
  100% {
    transform: rotate(1turn); } }
@keyframes glowing {
  0% {
    box-shadow: 0 -2px 3px #ffffff; }
  50% {
    box-shadow: 0 -2px 10px #ffffff; }
  100% {
    box-shadow: 0 -2px 3px #ffffff; } }
@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
@keyframes shine {
  100% {
    right: 125%; } }
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; }

.grid__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.grid__col-6 {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.grid__col-4 {
  width: calc(100% / 3);
  margin: 0 auto;
  text-align: center;
  padding: 0 15px; }

.grid__col-7 {
  width: 700px;
  padding: 0 15px; }

.grid__col-5 {
  width: 500px;
  padding: 0 15px; }

.btn {
  min-width: 115px;
  min-height: 39px;
  text-decoration: none;
  border: none;
  background-color: #ffffff;
  color: #ac2223;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 1.5rem; }

.btn:hover {
  background-color: #ac2223;
  transition: 0.2s linear; }

.btn.view i {
  padding-left: 8px;
  transition: 0.2s linear;
  font-weight: 300; }

.btn.black {
  color: #ffffff;
  background-color: #262626;
  font-size: 1.4rem;
  font-weight: 800;
  word-spacing: 2px; }

.btn.black:hover {
  background-color: #ac2223;
  transition: 0.2s linear; }

.btn.booking {
  background-color: #ac2223;
  margin: 40px 0;
  width: 195px;
  height: 54px;
  color: #ffffff; }

.btn.booking:hover {
  background-color: #650203;
  transition: 0.2s linear; }

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.title {
  font-size: 3.4rem;
  font-weight: 600;
  position: relative; }

.title.title-underline:before {
  content: "";
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  width: 151px;
  border: 2px solid #ac2223; }

.link-name {
  font-size: 2rem;
  font-weight: 400;
  color: #ac2223;
  text-decoration: none; }

.link-name:hover {
  text-decoration: none;
  color: #ac2223; }

.app .header {
  width: 100%;
  background-color: #ac2223;
  z-index: 2; }
  .app .header__wrap {
    display: flex;
    width: 1200px;
    margin: auto; }
  .app .header__logo {
    padding: 18px 107px 18px 0;
    align-items: center; }
    .app .header__logo .logo__img {
      height: 60px;
      width: 60px; }
    .app .header__logo .logo__link {
      display: block; }
  .app .header__menu {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: auto; }
  .app .header-list {
    align-items: center;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0; }
  .app .header-item-link {
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    margin: 0 30px 5px 0; }
  .app .header-item-link:hover {
    border-bottom: 2px solid #ffc107;
    text-decoration: none;
    color: #ffffff; }
  .app .header__contact {
    margin: auto 0;
    position: relative; }
    .app .header__contact .header__contact-icon {
      color: #ffffff;
      font-size: 4rem;
      position: absolute;
      top: -2px;
      left: -38px; }
    .app .header__contact .contact-content .contact-phone {
      font-size: 2.5rem;
      text-decoration: none;
      font-weight: 500;
      color: #ffffff;
      overflow: visible; }
    .app .header__contact .contact-content .contact-phone:hover {
      transition: 0.2s linear;
      color: #ffc107; }
    .app .header__contact .contact-content p {
      font-style: italic;
      font-size: 1.6rem;
      color: #ffffff;
      margin: 0; }
.app .contain__session-1 {
  position: relative; }
  .app .contain__session-1 .session-1-img {
    width: 100%; }
.app .contain__s1-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%; }
  .app .contain__s1-overlay .s1-overlay-body {
    text-align: center;
    padding-top: 25px; }
    .app .contain__s1-overlay .s1-overlay-body .overlay-body-title {
      color: #ffffff; }
    .app .contain__s1-overlay .s1-overlay-body .overlay-body-wrap {
      width: 100%;
      padding-top: 40px;
      position: relative;
      transform-origin: center;
      animation: grow linear 0.6s; }
    .app .contain__s1-overlay .s1-overlay-body .overlay-body-spin {
      width: 270px;
      height: 270px;
      margin: 0 auto;
      border-radius: 50%;
      text-align: center;
      border: 2px dashed #ffffff;
      animation: spin 10s infinite linear; }
    .app .contain__s1-overlay .s1-overlay-body .body-logo-img {
      width: 250px;
      border-radius: 50%;
      border: 10px solid #ffffff;
      margin: 10px;
      position: absolute;
      top: 40px;
      left: 38.8%; }
    .app .contain__s1-overlay .s1-overlay-body .overlay-body-combolink {
      padding-top: 30px;
      font-size: 3.1rem; }
      .app .contain__s1-overlay .s1-overlay-body .overlay-body-combolink .overlay-body-name a {
        text-decoration: none;
        color: #ffffff; }
      .app .contain__s1-overlay .s1-overlay-body .overlay-body-combolink .overlay-body-name a:hover {
        color: #ac2223; }
      .app .contain__s1-overlay .s1-overlay-body .overlay-body-combolink .overlay-body-btn {
        font-weight: 600;
        margin-top: 16px;
        animation: glowing 1.5s infinite; }
      .app .contain__s1-overlay .s1-overlay-body .overlay-body-combolink .overlay-body-btn:hover {
        color: #ffc107; }
.app .contain__session-2 {
  padding-bottom: 82px;
  transform-origin: center;
  animation: grow linear 0.7s; }
  .app .contain__session-2 .session2-title {
    margin: 50px auto 35px auto; }
  .app .contain__session-2 .session2-content {
    position: relative;
    width: calc(50% - 15px);
    transition: top linear 1s;
    bottom: 0;
    overflow: hidden; }
    .app .contain__session-2 .session2-content .session2-img {
      width: 100%; }
    .app .contain__session-2 .session2-content .session2-select {
      display: flex;
      position: absolute;
      left: 75px;
      opacity: 0; }
      .app .contain__session-2 .session2-content .session2-select .session2-btn {
        margin-left: 10px; }
        .app .contain__session-2 .session2-content .session2-select .session2-btn a {
          font-weight: 600;
          color: #ac2223;
          display: block;
          margin: 4px 48px;
          text-decoration: none; }
      .app .contain__session-2 .session2-content .session2-select .session2-btn:hover a {
        color: #ffffff; }
  .app .contain__session-2 .session2-content:hover .session2-img {
    filter: brightness(35%); }
  .app .contain__session-2 .session2-content:hover .session2-select {
    bottom: 50%;
    transition: 0.2s linear;
    opacity: 1; }
  .app .contain__session-2 .session2-content:not(:hover) .session2-select {
    bottom: -50%;
    transition: 0.3s linear; }
.app .contain__session-3 {
  background-color: #f4f4f4;
  padding-top: 48px; }
  .app .contain__session-3 .session-3-head {
    transform-origin: center;
    animation: grow linear 0.7s; }
    .app .contain__session-3 .session-3-head .session-3-head-link {
      padding: 40px 0; }
  .app .contain__session-3 .session-3-main {
    padding: 60px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 3px 5px #999;
    transform-origin: center;
    animation: grow linear 0.7s; }
    .app .contain__session-3 .session-3-main .session-3-main-link {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
      color: #262626;
      user-select: none; }
      .app .contain__session-3 .session-3-main .session-3-main-link .session-3-main-img {
        width: 248px;
        height: 248px; }
    .app .contain__session-3 .session-3-main .session-3-main-link:hover {
      color: #ac2223; }
    .app .contain__session-3 .session-3-main .session-3-main-content {
      padding-top: 30px;
      user-select: none; }
      .app .contain__session-3 .session-3-main .session-3-main-content p {
        padding: 30px 0;
        font-size: 1.5rem;
        line-height: 2rem;
        word-spacing: 1px; }
    .app .contain__session-3 .session-3-main .session-3-main-btn {
      padding: 4px 21px; }
  .app .contain__session-3 .session-3-foot {
    transform-origin: center;
    animation: grow linear 0.7s; }
.app .contain__session-4 {
  background-color: #f4f4f4;
  padding-top: 54px; }
  .app .contain__session-4 .session-4-head {
    margin: 0 auto;
    transform-origin: center;
    animation: grow linear 0.7s; }
    .app .contain__session-4 .session-4-head .session-4-head-link {
      padding: 40px 0;
      text-align: center; }
  .app .contain__session-4 .session-4-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    transform-origin: center;
    animation: grow linear 0.7s; }
    .app .contain__session-4 .session-4-main .session-4-control-right {
      position: absolute;
      top: 50%;
      right: -46px;
      font-size: 5rem; }
      .app .contain__session-4 .session-4-main .session-4-control-right a {
        color: #262626;
        text-decoration: none; }
    .app .contain__session-4 .session-4-main .session-4-control-right:hover a {
      color: #ac2223;
      text-decoration: none; }
    .app .contain__session-4 .session-4-main .session-4-control-left {
      position: absolute;
      top: 50%;
      left: -46px;
      font-size: 5rem; }
      .app .contain__session-4 .session-4-main .session-4-control-left a {
        color: #262626;
        text-decoration: none;
        transition: 0.2s linear; }
    .app .contain__session-4 .session-4-main .session-4-control-left:hover a {
      transition: 0.2s linear;
      color: #ac2223;
      text-decoration: none; }
    .app .contain__session-4 .session-4-main .session-4-col7-wrap {
      background-color: #ac2223; }
      .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4--link {
        display: block;
        color: #ffffff;
        font-size: 3rem;
        font-weight: 800;
        user-select: none; }
        .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4--link .session-4-col7-img {
          width: 100%; }
        .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4--link .session-4-col7-img figure {
          position: relative; }
        .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4--link .session-4-col7-img figure::before {
          position: absolute;
          top: 0;
          right: -75%;
          z-index: 2;
          display: block;
          content: '';
          width: 50%;
          height: 100%;
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
          transform: skewX(45deg); }
        .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4--link .session-4-col7-img figure:hover::before {
          animation: shine .75s; }
      .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4-col7-content {
        padding: 30px; }
        .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4-col7-content .session-4-main-btn {
          padding: 0 20px; }
        .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4-col7-content .session-4-main-btn:hover {
          background-color: #333131; }
        .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4-col7-content p {
          font-size: 1.5rem;
          color: #ffffff;
          margin: 15px auto 30px auto;
          user-select: none; }
      .app .contain__session-4 .session-4-main .session-4-col7-wrap .session-4--link:hover {
        text-decoration: none;
        color: #ffc107;
        transition: 0.2s linear; }
    .app .contain__session-4 .session-4-main .session-4-col5-img {
      width: 100%; }
  .app .contain__session-4 .session-4-foot {
    width: 100%;
    text-align: center;
    padding: 20px 0 8px 0;
    transform-origin: center;
    animation: grow linear 0.7s; }
.app .contain__session-5 {
  background-color: #262626; }
  .app .contain__session-5 .session-5-content {
    width: 50%;
    padding: 48px 0 35px 0;
    margin: 0 auto; }
    .app .contain__session-5 .session-5-content .session5-title {
      color: #ffffff;
      width: 100%;
      text-align: center; }
    .app .contain__session-5 .session-5-content .session-5-wrap {
      padding-top: 56px; }
      .app .contain__session-5 .session-5-content .session-5-wrap .session-5-wrap-title {
        color: #ffffff;
        font-size: 2rem;
        font-weight: 500;
        position: relative; }
      .app .contain__session-5 .session-5-content .session-5-wrap .session-5-wrap-title:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        border: 1px solid #938d82;
        width: 76%; }
      .app .contain__session-5 .session-5-content .session-5-wrap .session-5-list {
        list-style: none;
        padding: 20px 0 0 0; }
        .app .contain__session-5 .session-5-content .session-5-wrap .session-5-list .session-5-item {
          color: #938d82;
          font-size: 1.5rem;
          padding: 15px 0;
          border-bottom: 1px dashed #938d82; }
          .app .contain__session-5 .session-5-content .session-5-wrap .session-5-list .session-5-item i {
            color: #ac2223;
            padding-right: 4px; }
        .app .contain__session-5 .session-5-content .session-5-wrap .session-5-list .session-5-item:last-child {
          border: none; }
.app .contain__session-6 {
  padding: 48px 0 80px 0; }
  .app .contain__session-6 .session6-title {
    text-align: center;
    width: 100%; }
  .app .contain__session-6 .session6-main {
    width: 100%;
    display: flex;
    padding-top: 36px; }
    .app .contain__session-6 .session6-main .session6-wrap {
      padding: 0; }
      .app .contain__session-6 .session6-main .session6-wrap .session6-resize-img {
        width: 100%;
        max-height: 222px;
        overflow: hidden; }
        .app .contain__session-6 .session6-main .session6-wrap .session6-resize-img .session6-link-img {
          display: block; }
          .app .contain__session-6 .session6-main .session6-wrap .session6-resize-img .session6-link-img .session6-img {
            width: 100%;
            background-position: center; }
      .app .contain__session-6 .session6-main .session6-wrap .session6-content {
        padding: 16px;
        text-align: initial; }
        .app .contain__session-6 .session6-main .session6-wrap .session6-content .session6-time {
          padding-bottom: 8px;
          display: flex;
          align-items: center; }
          .app .contain__session-6 .session6-main .session6-wrap .session6-content .session6-time .session6-time-icon {
            font-size: 1.4rem;
            padding-right: 4px;
            color: #ac2223; }
          .app .contain__session-6 .session6-main .session6-wrap .session6-content .session6-time .session6-date {
            padding: 0;
            margin: 0;
            font-size: 1.4rem; }
        .app .contain__session-6 .session6-main .session6-wrap .session6-content .session6-link {
          color: #262626;
          text-decoration: none;
          font-size: 2rem;
          font-weight: 600; }
        .app .contain__session-6 .session6-main .session6-wrap .session6-content .session6-link:hover {
          color: #ac2223; }
        .app .contain__session-6 .session6-main .session6-wrap .session6-content .session6-infor {
          font-size: 1.6rem;
          color: #938d82;
          padding: 6px 0 6px 0; }
        .app .contain__session-6 .session6-main .session6-wrap .session6-content .session-6-btn:hover {
          background-color: #ffffff;
          color: #ffc107; }
    .app .contain__session-6 .session6-main .session6-wrap:hover {
      box-shadow: 0 3px 8px #999; }
.app .footer {
  position: relative;
  background-color: #0f0f0f; }
  .app .footer .scrollTop {
    position: absolute;
    right: 48%;
    top: -45px;
    opacity: 1;
    color: #ac2223;
    transition: all 0.4s ease-in-out 0s; }
  .app .footer .scrollTop a {
    font-size: 6rem;
    color: #ac2223; }
  .app .footer-wrap {
    text-align: center;
    padding-top: 48px; }
    .app .footer-wrap .footer-logo .footer-logo-link {
      display: block; }
    .app .footer-wrap .footer-logo .footer_logo-img {
      width: 61px;
      height: 61px; }
    .app .footer-wrap .footer-contact {
      display: flex;
      justify-content: center;
      padding: 30px 0 16px 76px; }
      .app .footer-wrap .footer-contact a {
        text-decoration: none;
        color: #ffffff; }
        .app .footer-wrap .footer-contact a .footer-phone {
          font-size: 2rem;
          padding-right: 16px; }
        .app .footer-wrap .footer-contact a .footer-mail {
          font-size: 1.6rem;
          border-left: 1px solid #ffc107;
          margin: 0;
          padding-left: 16px; }
      .app .footer-wrap .footer-contact a:hover {
        text-decoration: none;
        color: #ac2223; }
    .app .footer-wrap .footer-menu {
      display: flex;
      justify-content: center;
      padding-bottom: 20px; }
      .app .footer-wrap .footer-menu .footer-item {
        list-style: none;
        padding-left: 20px; }
        .app .footer-wrap .footer-menu .footer-item .footer-item-link {
          text-decoration: none;
          color: #ffffff;
          font-size: 1.5rem; }
        .app .footer-wrap .footer-menu .footer-item .footer-item-link:hover {
          text-decoration: none;
          color: #ac2223; }
    .app .footer-wrap .footer-social .social-link {
      font-size: 4rem;
      color: #707070;
      padding-left: 16px; }
    .app .footer-wrap .footer-social .social-link:hover {
      text-decoration: none;
      color: #fff; }
    .app .footer-wrap .footer-infor {
      padding-top: 60px; }
      .app .footer-wrap .footer-infor p {
        font-size: 1.5rem;
        color: #ffffff; }

/*# sourceMappingURL=main.css.map */
